.btn{
  border: 1px solid $element-color-dark;
  border-radius: $border-radius;
  padding: $small-gap;
  display: inline-block;
  color: $element-color-dark;
  text-decoration: none;
  cursor: pointer;
  background-color: $background-color;
  &-action{
    @extend .btn;
    border: none;
    line-height: 0;
    padding: 0;
  }
}
.btn:hover,.btn-action:hover{
  background-color: $background-color;
  color: $text-color;
  border-color:$text-color;
}
form{
  width: 100%;
  .container{
    position: relative;
    .delete-section{
      position: absolute;
      right:$small-gap;
    }
  }

  .field-group{
    display: flex;
    flex-direction: column;
    padding: $small-gap 0;
    margin-bottom: $small-gap;
    input{
      width: 100%;
      border: 1px solid $element-color;
      border-radius: $border-radius;
      padding: $small-gap;
      font-size: $normal;
      outline: none;
    }
    input:focus{
      border: 1px solid $text-color;
    }

  }
  .search-box{
    @extend .field-group;
    position: relative;
    overflow: visible;
  }
}
.collection{
  font-size: $normal-small;
  padding: $small-gap;
  display: grid;
  background-color: $background-color;
  grid-template-columns: 1fr;
  gap: $small-gap;
  border: 1px solid $element-color;
  border-radius: $border-radius;
  .collection-item{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $element-color;
  }
}

.suggestion{
  @extend .collection;
  width: 100%;
  position:absolute;
  top: 100%;
  z-index: 100;
  display: none;
  // display: none;
  .collection-item a{
    display: flex;
    width: 100%;
    padding: $small-gap;
    border-radius: $border-radius;
  }
  .book-suggestion{
    z-index: 99;
    ul{
      pointer-events: none;
      li{
        pointer-events: none;
      }  
    }
  }
  .book-suggestion:hover{
    background-color: $element-color;
  }
}

