@media (max-width: 460px){
  .alert i.fas,i.far{
    display: inline;
  }
  #top-nav i.fas.fa-plus{
    display: none;
  }
  .field-group input{
    display: block;
  }
  table{
    table-layout: fixed;
    width: 100%;
    .mobile-wide{
      width: 90%;
    }
  }
  .mobile-hide{
    display: none;
  }
  .cut-text{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}