@import "variable";
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: $text-color;
}
body{
  font-family: $body-font;
  background-color: $background-color;
  color: $text-color;
  display: grid;
  grid-template-columns: 1fr;
  gap: $medium-gap;
}
// General Styling
h1, h2, h3, h4, h5, h6{
  font-family: $title-font;
}

h2{
  font-size: $normal;
  margin-bottom: $large-gap;
}
i.fas,i.far{
  display: inline-block;
  margin-right: $small-gap;
  pointer-events: none;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: $small-gap $large-gap;
}
.btn{
  border: 1px solid $element-color-dark;
  border-radius: $border-radius;
  padding: $small-gap;
  display: inline-block;
  color: $element-color-dark;
  text-decoration: none;
  cursor: pointer;
  background-color: $background-color;
  &-action{
    @extend .btn;
    border: none;
    line-height: 0;
    padding: 0;
  }
}
.btn:hover,.btn-action:hover{
  background-color: $background-color;
  color: $text-color;
  border-color:$text-color;
}
form{
  width: 100%;
  .container{
    position: relative;
    .delete-section{
      position: absolute;
      right:$small-gap;
    }
  }

  .field-group{
    display: flex;
    flex-direction: column;
    padding: $small-gap 0;
    margin-bottom: $small-gap;
    input{
      width: 100%;
      border: 1px solid $element-color;
      border-radius: $border-radius;
      padding: $small-gap;
      font-size: $normal;
      outline: none;
    }
    input:focus{
      border: 1px solid $text-color;
    }

  }
  .search-box{
    @extend .field-group;
    position: relative;
    overflow: visible;
  }
}
.collection{
  font-size: $normal-small;
  padding: $small-gap;
  display: grid;
  background-color: $background-color;
  grid-template-columns: 1fr;
  gap: $small-gap;
  border: 1px solid $element-color;
  border-radius: $border-radius;
  .collection-item{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $element-color;
  }
}

.suggestion{
  @extend .collection;
  width: 100%;
  position:absolute;
  top: 100%;
  z-index: 99;
  display: none;
  // display: none;
  .collection-item a{
    display: flex;
    width: 100%;
    padding: $small-gap;
    border-radius: $border-radius;
  }
  .collection-item a:hover{
    background-color: $element-color;
  }
}

table{
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  text-align: left;

  th,td{
    border-bottom: 1px solid $element-color;
    padding: $small-gap;
    word-wrap: break-word;
  }

  th:last-child,td:last-child{
    border-right: none;
  }
}

.book-name{
  font-style: italic;
  font-family:$title-font;
}
.alert{
  padding: $small-gap;
  color: $background-color;
  background-color: $element-color-dark;
  border-radius: $border-radius;

}
.error{
  @extend .alert;
  background-color: #dc3545;
}

.success{
  @extend .alert;
  background-color: #28a745;
}

// navigation
#top-nav{
  border-bottom: 1px solid $element-color;
  background-color: rgba($color: $background-color, $alpha: 1.0);
  position: sticky;
  z-index: 1;
  top: 0;
  .container{
    margin: $large-gap auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
}

#top-nav .logo{
  display: flex;
  align-items: center;
  p{
    font-size: $large;
    font-family: $title-font;
  }
  img{
    width: $large;
    height: auto;
  }
}

#top-nav .toolbar{
  display: flex;
  font-size:$normal;
}
// form-add-book
form#add-book{
  border-bottom: 1px solid $element-color;
  .container{
    overflow: visible;
  }
}


// reading List

.title-pane{
  display: flex;
  align-items: flex-start;
  .btn-action{
    font-size: $normal;
  }
}

// media quries
@media (max-width: 460px){
  i.fas,i.far{
    display: block;
  }
  .alert i.fas,i.far{
    display: inline;
  }
  #top-nav i.fas.fa-plus{
    display: none;
  }
  .field-group input{
    display: block;
  }
}


