@import "normalize";
@import "variable";
@import "global";
@import "navigation";
@import "table";
@import "form&button";
@import "alert";
@import "mobile";




// form-add-book
form#add-book{
  border-bottom: 1px solid $element-color;
  .container{
    overflow: visible;
  }
}


// reading List

.title-pane{
  display: flex;
  align-items: flex-start;
  .btn-action{
    font-size: $normal;
  }
}




